# IntelliJ IDEA
*.iml
.idea/
out/
gen/

# Web & Local Cache
.cache/
dist/
tmp/
*.bak

# Matrix Exports & Local JSON Dumps
*.export.json
#/data/matrices/
#/data/users.json
/data/presence.json
/data/rasta.sqlite

# Windows system files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# General logs
*.log

# Personal Tools
/personal/

# Secret web app files
.env
